/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sección principal */
#header {
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
#header > div{
  flex-direction: column;
}
#header > div > div{
  margin-top: 5%;
  margin-bottom: -8%;
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 2;
}
header img {
  height: 50px;
}
header div {
  display: flex;
  gap: 100px;
  font-size: 1.5rem;
}
header div a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}
header div a:hover {
  color: #b88340;;
}
#header h1 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 17%;
  letter-spacing: 5px;
  z-index: 2; 
}
#header p {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #b88340;;
  text-align: center;
  position: relative;
  z-index: 2; 
}
#header div img {
  width: 24%;
  height: auto;
  border: solid 20px gray;
  border-radius: 10px;
  transition: transform 0.3s;
}
#header div img:hover {
  transform: scale(1.2);
}
#header div span {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: transform 0.3s;
}
#header div span:hover {
  transform: scale(1.2);
}

/* nosotros */
#nosotros {
  text-align: center;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #b88340;;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.3rem;
    color: #333;
    text-align: justify;
    margin-bottom: 30px;
  }
}
#galeria {
  display: flex;
  justify-content: center;
  overflow-x: auto; 
  padding: 10px;
  img {
    width: 30%;
    height: auto;
    border-radius: 10px;
  }
}

/* line */
#line{
  width: 78%;
  height: 3px;
  background-color: #b88340;;
  margin: auto; /* Centrado horizontal */
}

/* Experiencias grupales */
.experiencias {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.experiencias h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #b88340;;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3%;
  margin-bottom: 5%;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.carousel button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #b88340;;
  transition: 0.3s;
}
.carousel button:hover {
  color: #42270c;
}
.cards {
  gap: 65px;
  display: flex;
  justify-content: center;
}
.card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  max-width: 330px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.tag {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.gold { background: #d4af37; }
.red { background: #c0392b; }
.green { background: #27ae60; }
.card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}
.card p {
  font-size: 0.9rem;
  color: #666;
  padding: 0 15px;
}
.card button {
  background: #a97c3a;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  a{
    color: white;
  }
}
.card button:hover {
  background: #ee8f31;
}

/* Experiencias personalizadas */
.experiencias-personalizadas {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 40px 10%;
  h1 {
    font-size: 2rem;
    color: #b88340;;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  img {
    width: 30%;
    border-radius: 15px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  width: 50%;
  p {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.6;
    margin: 10% 0%;
  }
  button {
    background-color: #b88340;;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #a06e1f;
  }
}

/* Blogs */
.blogs {
  text-align: center;
  background-color: #b88340; 
  padding: 40px 20px;
  h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 8px;
  }
}
.blogs-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.blog-item {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  img {
    width: 100%;
    height: cover;
    border-radius: 10px;
  }
  h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    color: #333;
  }
  a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #b88340; 
    margin-top: 10px;
  }
}
.large {
  grid-row: span 2; /* Ocupa dos filas */
}

/* Diseña tu viaje */
.formulario {
  background: #e5e5e5;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  h2 {
    color: #a97c3a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
  }
  p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
  }
}
.group-inputs {
  display: flex;
  justify-content: space-between;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 48%;
  text-align: left;
  margin-bottom: 15px;
  color: black;
}
label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}
select,
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}
.experiencias_2{
  margin-top: 5%;
}
.experiencia-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  button {
    flex: 30%;
    padding: 10px;
    background: #e0e0e0;
    cursor: pointer;
    font-size: 0.85rem;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
}
.experiencia-buttons button:hover {
  background: #a97c3a;
  color: white;
}
.viaje-info {
  margin: 5% 5%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label{
    display: flex;
    flex-direction: row;
    input{
      margin-left: 10px;
      width: 80%;
    }
  }
  input {
    width: 45%;
  }
}
.pasajeros {
  margin: 5% 5%;
  display: flex;
  justify-content: space-between;
  label{
    margin: 0.5% 2% 0 2%;
  }
  select {
    width: 45%;
  }
}
.textarea-group{
  margin: 3% 3%;

  textarea {
    margin: 1% 1%;
    height: 80px;
    resize: none;
  }
}
.btn-enviar {
  width: 100%;
  background: #a97c3a;
  color: white;
  border: none;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-enviar:hover {
  background: #ee8f31;
}

/* Alianzas estrategicas */
.alianzas-container {
  background: #f1f1f1;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  h2 {
    color: #a97c3a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.alianzas-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  img {
    max-height: 50px;
    transition: filter 0.3s ease-in-out;
  }
}
.whatsapp-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  img {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  img:hover {
    transform: scale(1.1);
  }
}

/* inscripcion */
.newsletter-container {
  background: #192038; 
  color: white;
  padding: 30px;
  text-align: center;
  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  input {
    width: 75%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  button {
    background: #c19248; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  button:hover {
    background: #a97c3a;
  }
}

/* footer */
.footer{
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  .footer_logos{
    display: flex;
    flex-direction: column;
    width: 20%;
    .redes{
      margin-top: 10%;
    }
  }
  .datos{
    div{
      margin: 4%;
      img{
        margin-right: 2%;
        width: 4%;
      }
    }
  }
}
